:root {
    --dark-primary: #1b254b;
    --primary: rgb(51, 45, 87);
    --deep-dark-primary: #a3b1cc;
    --light-gray: #F9F9F9;
    --container-text: #3599db;
    --light: #fff;
    --btn-feature-bgcolor: #323e69;
}

body {
    font-family: "Rubik", sans-serif;

}


h1,
h2,
h3 {
    color: var(--dark-primary);
}

.navbar-brand {
    /* color: var(--deep-dark-primary) !important; */
    font-size: 2.1875rem !important;
}

.nav-link {
    padding-inline: 1.875rem !important;
}

.navbar-nav {
    --bs-nav-link-color: var(--primary);
}

.icon-il>a {
    color: var(--dark-primary);
}


.bottom-bar {
    background-color: var(--light-gray);
    /* margin-block: 1.875rem; */
}

.bottom-bar ul>li>a {
    color: var(--primary);
}



.bottom-bar .nav-link {
    padding-inline: 0.6875rem !important;
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.logout-link {
    width: fit-content;
    color: #dc3545 !important;
    display: inline-block;
    cursor: pointer;
}

.logout-link:hover {
    color: #fff !important;
    background-color: #dc3545 !important;
}


@media (max-width: 991px) {
    .logout-link {
        width: fit-content;
        margin-left: 1.875rem;
    }
}

/* End NavBra */
/* Start Header  */
#home-header #container {
    background-color: #fff;
    padding: 1.875rem;
    margin-top: 150px;
    max-width: 520px;
    min-height: 260px;
}

#home-header #container h2 {
    color: var(--deep-dark-primary);
    font-weight: 500;
}

#home-header #container p {
    color: var(--container-text);
    text-shadow: 0.125rem 0.125rem 0.1875rem black;
}

.collection {
    background-color: var(--light-gray);
    padding-inline: 2rem;
    padding-block: 1rem;
    color: var(--dark-primary);
    width: 100%;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    transition: 0.3s ease;
}

.collection:hover {
    transform: translateY(-2px);
}

/* End Header */
/* Start of Diff  */
#diff-sec {
    padding-block: 2.5rem;
}

#diff-sec h3 {
    color: var(--dark-primary) !important;
    font-weight: 300 !important;
    width: fit-content;
}

.card {
    background-color: var(--light-gray) !important;
    padding-inline: 1.5rem;
    padding-block: 2.25rem;
    border-color: transparent !important;
    color: var(--dark-primary) !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.card>i {
    width: 1.5rem;
    height: 1.5rem;
}



.card button {
    background-color: var(--light-gray);
    padding: 16px;
    width: 100%;
    color: var(--primary);
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}


.card span>i {
    color: var(--primary);
    font-size: 25px;
    ;

}

#cart {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

/* #cart:hover {
    background-color: var(--deep-dark-primary);
} */

/* End of Diff  */
/* Start of Listing */
#listing,
#listing-two,
#feature {
    padding-block: 2.5rem;
}

/* End of Listing */
/* Start of Feature  */
/* #feature .text-block {
    background-color: var(--dark-primary);
    color: var(--light);
} */

#feature p {
    width: 90%;
    padding-block: 0.9375rem;
}

/* #feature button {
    background-color: var(--btn-feature-bgcolor);
} */

/* End of Feature  */
/* Start Footer */
footer {
    /* background-color: var(--dark-primary); */
    color: var(--light);
    padding: 2.5rem 0.625rem;
}

footer input {
    /* background-color: var(--btn-feature-bgcolor); */
    padding: 1.25rem;
    border-color: transparent;
}

/* footer input::placeholder {
    color: var(--light);
} */

footer button {
    color: var(--dark-primary);
    border-color: transparent;
}

.after-brdr {
    position: relative;
    padding-bottom: 1.25rem;
    width: 95%;
    text-align: center;
}

.after-brdr::after {
    content: '';
    /* background-color: var(--primary); */
    background-color: #fff;
    width: 100%;
    height: 0.125rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

hr {
    background-color: #fff
}


footer ul>li i {
    font-size: 1.5625rem;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

footer ul>li i:hover {
    color: #fff
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

/* End Footer */

